
$columns: 12;
$one-column-width:1/$columns;
$max-container-width:1600px;


.row:before, .row:after {
  content: " ";
  display:table;
  clear:both;
}



  .row {


    [class*='col-'] {
      padding: 12px 0;
      min-height: 1px;
      box-sizing: border-box;
      float: left;
      position: relative;
    }

      @mixin col-x-list {
        @for $i from 1 through $columns {
          $width: percentage($one-column-width * $i);
          .col-#{$i} {
            width: $width;
          }
        }
      }
      @include col-x-list;

  }


body {
  font-family: 'Gloria Hallelujah', cursive;
  background: url('../img/bg.jpg') repeat;
}

a {
  color:inherit;
}
.overlay {
  background-color: rgba(255, 255, 255, 0.3);
  width:100%;
  height: 100%;

}


.container {
  width: 90%;
  margin: 0 auto;
  max-width:$max-container-width;
  position: relative;

}
