$columns: 12;
$one-column-width:1/$columns;
$max-container-width:1600px;


.row:before, .row:after {
  content: " ";
  display:table;
  clear:both;
}



  .row {


    [class*='col-'] {
      padding: 12px 0;
      min-height: 1px;
      box-sizing: border-box;
      float: left;
      position: relative;
    }

      @mixin col-x-list {
        @for $i from 1 through $columns {
          $width: percentage($one-column-width * $i);
          .col-#{$i} {
            width: $width;
          }
        }
      }
      @include col-x-list;

  }


body {
  font-family: 'Gloria Hallelujah', cursive;
  background: url('../img/bg.jpg') repeat;
  background-attachment: fixed;
}

a {
  color:inherit;
}
h2 {
  font-size:32px;
  line-height: 32px;
}

h3 {
  font-size:24px;
  line-height: 24px;
}

.overlay {
  background-color: rgba(255, 255, 255, 0.3);
  width:100%;
  height: 100%;
  position: absolute;
  top: 0;

}


.container {
  width: 90%;
  margin: 0 auto;
  max-width:$max-container-width;
  position: relative;

}


.main {
  text-align: center;
}

.underline {
  position: relative;
  display:inline-block;
  border-bottom: 5px solid #D62929;
}

.hide {
  display: none;
}

.show {
  display: block;
}