.creator {
  height:auto;

  .type {
    font-size: 24px;
    @media only screen and (max-width : 480px) {
      font-size:16px
    }
  }

  form {
    ul {
      list-style: none;
      font-size: 24px;
      @media only screen and (max-width : 480px) {
        font-size:16px;
      }

      label {
        cursor: pointer;

        .checkbox, .radio {
          position: absolute;
          left: -999px;
        }
        input:checked + span {
          color: #fff;
          background-color: #3F3F3F;
          padding:5px;
        }
      }

    }

    .choiceBox {
      height:1000px;
      overflow-y:scroll;
      margin-bottom:30px;
      @media only screen and (max-width : 768px) {
        height:600px;
      }

      .main {
        margin-top:20px;

      }


      ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
      }

      ::-webkit-scrollbar {
        background-color: #F5F5F5;
        border-radius: 10px;
        width:15px;
      }

      ::-webkit-scrollbar-thumb
      {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #3F3F3F;
      }



      .size, .sauceList {
        position: relative;
        margin: 0 auto;
        width:50%;
        li {
          text-align:center;
        }
      }

    }


    .pizza {
      height:1000px;
      background-image: url("../img/pizza.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      position:relative;

      .output {
        margin-top: 50px;
        padding:20px 50px;


        .red-info {
          color:#D62929;
          font-size:24px;
          font-weight: bold;
        }


        .right {
          float: right;
          text-align: right;

        }
        .big {
          font-size:34px;
          @media only screen and (max-width : 768px) {
            font-size:30px
          }

          @media only screen and (max-width : 480px) {
            font-size:20px;
          }
        }
      }

      .total {
        position: absolute;
        bottom:20px;
        left:0px;
        font-size:32px;
        padding:20px 50px;
        animation-name: show;
        animation-duration: 2s;

        span {
          display: inline-block;
          border-top: 5px solid #3F3F3F;
          float:right;
          width:150px;
          text-align: right;
        }

      }

    }


  }

}

