.delivery {
  height:1200px;
  .map {
    margin-top: 20px;
    height:700px;
    width: 100%;
    position:relative;
    @media screen and (max-width: 1024px) {
      height:auto;
    }
    img {
      border: 3px solid #3F3F3F;
      width:100%;
    }
  }

  .checkCode {
    margin:60px 10px;
    h3 {
      padding: 50px 0;
    }
    label {
      span {
        font-size:20px;
        width:75%;
      }
      input {
        font-size:24px;
        width:25%;
      }
    }


    .msgBox {
      width:100%;
      height:100px;
      p {
        font-size:24px;
        text-align: center;
        height:100px;
        position: relative;
        margin:40px 0;
        display: none;
        img {
          text-align: center;
        }
        span {
          display: block;
        }
      }

    }

  }
}

