footer {
  height:100px;

  .icon {
    width: 80px;
    float: left;
    @media screen and (max-width: 768px) {
      width: 60px;
      height:60px;
    }
  }

  p {
    height: 80px;
    line-height: 80px;
    font-size:24px;
    padding-left:20px;
    display: inline-block;
    @media screen and (max-width: 1024px) {
      font-size:20px;
      padding-left:10px;
    }
    @media screen and (max-width: 768px) {
      font-size:16px;
      line-height: 60px;

    }

    @media screen and (max-width: 500px) {
      font-size:12px;
    }



  }

}

#goUp {
  position: fixed;
  right: 1em;
  bottom: 0;
}