
.info {
  height:500px;
  @media screen and (max-width: 1024px) {
    height: 800px;

  }
  .col-6 {
    @media screen and (max-width: 1024px) {
      width:100%;
    }
  }
}


.intro {
  text-align: center;
  font-size: 24px;
  @media screen and (max-width: 1024px) {
    z-index:999;
    position: relative;
    margin-top:50px;
  }

  ul {
    margin: 0 auto;
    width: 50px;
  }
}

.sidebar {
  height:500px;
  width:500px;
  margin: auto;
  margin-top:-50px;
  background-image: url("../img/pizza.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 100%;

  .overlay {
    position:relative;
  }
  @media screen and (max-width: 1024px) {
    margin-top: 20px;
    height: 500px;
  }

  @media screen and (max-width: 768px) {
    margin-top: 20px;
    height: 500px;
  }

  @media screen and (max-width: 480px) {
    margin-top: 20px;
    height: 400px;
    width:100%;
  }


  .inner {
    padding-top: 100px;

    @media screen and (max-width: 1024px) {
      padding-top:100px;
    }

    @media screen and (max-width: 768px) {
      padding-top:150px;
    }

    @media screen and (max-width: 480px) {
      padding-top:80px;
    }

    p {
      text-align: center;
      font-size: 2vw;
      font-weight: bold;

      @media screen and (max-width: 1024px) {
          font-size: 200%;
      }

      @media screen and (max-width: 768px) {
          font-size: 150%;
      }

      @media screen and (max-width: 480px) {
          font-size: 125%;
      }

    }

    .scrollDelivery {
      text-decoration: underline;
      cursor: pointer;
    }

  }
}
