
.info {
  height:900px;
  padding-top:110px;
  @media screen and (max-width: 1024px) {
    height: 1400px;
    padding-top: 180px;
  }
  .col-6 {
    @media screen and (max-width: 1024px) {
      width:100%;
    }
  }
}


.intro {
  text-align: center;
  font-size: 24px;
  margin-top:300px;
  @media screen and (max-width: 1024px) {
    z-index:999;
    position: relative;
    margin-top:50px;
  }

  ul {
    margin: 0 auto;
    width: 50px;
  }
}

.sidebar {
  margin-top:-140px;
  height:900px;
  background-image: url("../img/board.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 100%;
  @media screen and (max-width: 1024px) {
    margin-top: -480px;
    height: 1000px;
  }

  @media screen and (max-width: 768px) {
    margin-top: -180px;
    height: 750px;
  }

  @media screen and (max-width: 480px) {
    margin-top: -120px;
    height: 500px;
  }


  .inner {
    padding-top: 500px;
    width:70%;
    position: relative;
    margin: 0 auto;
    @media screen and (max-width: 1024px) {
      padding-top:550px;
    }

    @media screen and (max-width: 768px) {
      padding-top:410px;
    }

    @media screen and (max-width: 480px) {
      padding-top:280px;
    }

    p {
      text-align: center;
      color: #fff;
      font-size: 1.4vw;

      @media screen and (max-width: 1024px) {
          font-size: 3vw;
      }

    }

    .scrollDelivery {
      text-decoration: underline;
      cursor: pointer;
    }

  }
}
