.order {
  height:700px;
  padding:0;
  transition: max-height 0.8s linear;
  display: none;


  .orderForm {
    max-width: 1200px;
    margin: 0 auto;

    .input-container {
      display:flex;
      flex-wrap:wrap;
      justify-content:space-around;

      label {
        width:350px;
      }

    }

    .confirmation {
      width: 70%;
      position: relative;
      margin: 30px auto;
      padding: 20px 0;
      color: #D62929;
      font-size: 24px;
      line-height: 24px;
      text-align: center;
      border: 3px solid #D62929;
      font-weight: bold;
    }

  }



}