@import 'reset';
@import 'common';
@import 'header';
@import 'info';
@import 'prices';
@import 'creator';
@import 'delivery';
@import 'contact';
@import 'order';
@import 'footer';
@import 'colect';



